<div class="login-container d-flex justify-content-center align-items-center">
  <div class="container">
    <form #loginForm="ngForm" (ngSubmit)="login()">
      <div class="row d-flex mb-3">
        <div class="col col-sm-12 col-xs-12 d-flex justify-content-center">
          <h1>TaskStatus</h1>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col col-sm-12 col-xs-12">
          <div class="form-group">
            <input class="form-control" name="email" type="email" placeholder="Email" [(ngModel)]="email">
          </div>
        </div>
      </div>
      <div class="row col-sm-12 col-xs-12 mb-2">
        <div class="col">
          <div class="form-group">
            <input class="form-control" name="password" [(ngModel)]="password" type="password" placeholder="Password">
          </div>
        </div>
      </div>
      <div class="row col-sm-12 col-xs-12 mb-1">
        <div class="col">
          <button type="submit" class="btn btn-primary w-100">LOGIN</button>
        </div>
      </div>
      <div class="row col-sm-12 col-xs-12">
        <div class="col">
          <button class="btn btn-danger w-100" (click)="reset()">RESET</button>
        </div>
      </div>
    </form>
  </div>
</div>