<div class="login-container d-flex justify-content-center align-items-center">
  <div class="container">
    <form #loginForm="ngForm" (ngSubmit)="login()">
      <div class="row d-flex mb-3">
        <div class="col col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center">
          <h1>TaskStatus4</h1>
        </div>
      </div>

      <!-- !email -->
      <div class="row mb-1">
        <div class="d-md-flex justify-content-md-center col-md-12 col-sm-12 col-xs-12">
          <div class="form-group col-md-4">
            <input class="form-control" email name="email" required type="email" placeholder="Email"
              [(ngModel)]="email">

            <!-- error handling -->
            <ng-container *ngIf="loginForm.controls?.['email']?.dirty || loginForm.controls?.['email']?.touched">
              <small class="form-text text-danger mt-1"
                *ngIf="loginForm.controls?.['email']?.errors?.['required']">Email
                is
                required</small>
              <div class="form-text text-danger mt-1" *ngIf="loginForm.controls?.['email']?.errors?.['email']">Invalid
                email</div>
            </ng-container>


          </div>
        </div>
      </div>

      <!-- !password -->
      <div class="row mb-2">
        <div class="d-md-flex justify-content-md-center col-md-12 col-sm-12 col-xs-12">
          <div class="form-group col-md-4">
            <input class="form-control col-md-4" name="password" minlength="8" required type="password"
              placeholder="Password" [(ngModel)]="password">

            <ng-container *ngIf="loginForm.controls?.['password']?.dirty || loginForm.controls?.['password']?.touched">
              <small class="form-text text-danger mt-1"
                *ngIf="loginForm.controls?.['password']?.errors?.['required']">Password
                is
                required</small>

              <small class="form-text text-danger mt-1" *ngIf="loginForm.controls?.['password']?.errors?.['minlength']">
                Password must be 8 characters long
                email</small>
            </ng-container>
          </div>
        </div>
      </div>

      <!-- !login button -->
      <div class="row mb-1">
        <div class="d-md-flex justify-content-md-center col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-4">
            <button type="submit" class="btn btn-primary w-100" [disabled]="isLoading">
              <span *ngIf="!isLoading">LOGIN</span>

              <div *ngIf="isLoading" class="spinner-border text-secondary spinner-border-sm" role="status">
              </div>
            </button>
          </div>
        </div>
      </div>

      <!-- !reset button -->
      <div class="row">
        <div class="d-md-flex justify-content-md-center col-sm-12 col-xs-12">
          <div class="col-md-4">
            <button class="btn btn-danger w-100" (click)="reset()">RESET</button>
          </div>
        </div>
      </div>
    </form>

    <ng-container *ngIf="errorMessage && !isLoading">
      <div class="row d-md-flex justify-content-md-center col-md-12 mt-2 col-sm-12 col-xs-12">
        <div class="col-md-5">
          <alert type="danger">
            <strong>Oh snap!</strong> {{errorMessage}}
          </alert>
        </div>
      </div>
    </ng-container>
  </div>
</div>