<div class="login-container d-flex justify-content-center align-items-center">
  <div class="container">
    <form #loginForm="ngForm" (ngSubmit)="login()">
      <div class="row d-flex mb-3">
        <div class="col col-sm-12 col-xs-12 d-flex justify-content-center">
          <h1>TaskStatus</h1>
        </div>
      </div>
      <div class="row col-sm-12 col-xs-12 mb-2">
        <div class="col col-sm-12 col-xs-12">
          <div class="form-group">
            <input class="form-control" email name="email" required type="email" placeholder="Email"
              [(ngModel)]="email">

            <!-- error handling -->
            <ng-container *ngIf="loginForm.controls?.['email']?.dirty || loginForm.controls?.['email']?.touched">
              <small class="form-text text-danger mt-1"
                *ngIf="loginForm.controls?.['email']?.errors?.['required']">Email
                is
                required</small>
              <div class="form-text text-danger mt-1" *ngIf="loginForm.controls?.['email']?.errors?.['email']">Invalid
                email</div>
            </ng-container>


          </div>
        </div>
      </div>
      <div class="row col-sm-12 col-xs-12 mb-2">
        <div class="col">
          <div class="form-group">
            <input class="form-control" name="password" required type="password" placeholder="Password"
              [(ngModel)]="password">
          </div>
        </div>
      </div>
      <div class="row col-sm-12 col-xs-12 mb-1">
        <div class="col">
          <button type="submit" class="btn btn-primary w-100" [disabled]="isLoading">
            <span *ngIf="!isLoading">LOGIN</span>

            <div *ngIf="isLoading" class="spinner-border text-secondary spinner-border-sm" role="status">
            </div>
          </button>
        </div>
      </div>
      <div class="row col-sm-12 col-xs-12">
        <div class="col">
          <button class="btn btn-danger w-100" (click)="reset()">RESET</button>
        </div>
      </div>
    </form>

    <ng-container *ngIf="errorMessage && !isLoading">
      <div class="row mt-2 col-sm-12 col-xs-12">
        <div class="col">
          <alert type="danger">
            <strong>Oh snap!</strong> {{errorMessage}}
          </alert>
        </div>
      </div>
    </ng-container>
  </div>
</div>